.cart {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
    max-width: 600px; /* Set the maximum width as needed */
    margin: 0 auto; /* Center the cart horizontally */
  }
  
    
    h3 {
      color: #333333;
      margin-bottom: 20px;
      font-size: 24px; /* Example: Increase font size */
    }
    
    .table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
    }
    
    .table th,
    .table td {
      padding: 10px;
      border-bottom: 1px solid #dddddd;
      text-align: left;
    }
    
    .table th {
      background-color: #f8f9fa;
      font-weight: bold; /* Example: Bold font for table headers */
    }
    
    .table td {
      background-color: #ffffff;
    }
    
    .btn {
      padding: 8px 16px;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold; /* Example: Bold font for buttons */
    }
    
    .btn-primary {
      background-color: #fc8019;
      color: #ffffff;
      border: none;
    }
    
    .action:hover {
      background-color: #ff9933;
      color: #ffffff; /* Example: Change text color on hover */
    }
    
    .buttons-container {
      display: flex;
      justify-content: space-between;
    }
    
    .snackbar {
      position: fixed;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1000;
    }