.storybg{
    background-image: url(images/storybg.png);
    background-repeat: no-repeat;
  }
  .bgcolor{
    background: linear-gradient(0deg, #000000, #1d100d,#000000, #000000) !important;
    /*background: linear-gradient(0deg, #000000, #271619,#170408, #000000);*/
    background-attachment: fixed !important;
  }

  .suggest-container {
    width: 30%;
    height: 100vh;
    background-color: #f1f1f1;
    overflow-y: auto;
    position: fixed;
    right: 0;
  }
  
  .col-7 {
    width: 70%;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-9 {
    flex: 1; /* Make the middle content occupy full space */
  }
  
  .col-3 {
    flex: 0 0 30%;
    max-width: 30%;
    margin-right: 0px; /* Shift the "Suggest" bar content to the right */
  }
  
  .suggest-container {
    height: 100vh;
    background-color: #f1f1f1;
    overflow-y: auto;
  }
  
  