/* Suggest.css */
.suggestion-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 20rem;
  height: 15vh;
  padding-right: 65px;
  padding-left: 20px ;
  transition: background-color 0.3s;
  border-radius: 10px;
}

.bg-color-suggestion {
  background: linear-gradient(90deg, #1d100d,  #000000, #000000, #000000,#000000) !important; /* Replace with your desired bluish-gray color */
}

.suggestion-box:hover {
  background-color: #ffbb0079; 
}

.suggestion-box img {
  border-radius: 50%;
}

