.registration-container {
  display: flex;
  justify-content: flex-end; /* Align to the right */
  align-items: center;
  height: 100vh;
  background-image: url('../assets/bg1.jpg'); /* Background image */
  background-size: cover;
  color: #fff;
}

.form-container {
  width: 400px;
  height: 100vh;
  padding: 20px;
  margin-right: 150px; /* Add margin to shift to the left */
  border-radius: 5px;
  background-color: rgba(38, 37, 37, 0.3) !important;   
  backdrop-filter: blur(10px);  
  box-shadow: 0 0 10px rgba(0, 0, 0);
  color: rgb(179, 178, 178); /* Font color */
}

.form-group {
  margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: #b7b7b7 !important;
  color: #000000;
  font-weight: bold;
}

label{
  font-style: italic;
  color: #dddddd;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(224, 146, 11);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end; /* Align button to the right */
  margin-top: 10px; /* Add margin for spacing */
}


button:hover {
  background-color: rgb(224, 146, 11);
  color: #000000;
}

.coloryellow {
  color: rgb(255, 162, 0);
}
